@* @using ASP.NET_Core.Models;
@model IEnumerable<Pie>

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <title>Bethany's Pie Shop</title>
    </head>
    <body>
        VIEW BAG
        <h1>@ViewBag.CurrentCategory</h1>
        MODEL
        @foreach(Pie pie in Model)
        {
            <div>
                <h2>@pie.Name</h2>
                <h3>@pie.Price</h3>
                <h4>@pie.Category.CategoryName</h4>
            </div>
        }
</body>
</html> *@

@model PieListViewModel

@* De esta manera, le digo que esto sebe mostrarse dentro del RenderBody de layout
@{
    Layout = "_Layout";
} *@

<h1>@Model.CurrentCategory</h1>
<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (Pie pie in Model.Pies)
    {
        <div class="col">
            <div class="card pie-card">
                <img src="@pie.ImageThumbnailUrl" class="card-img-top" alt="@pie.Name">
                <div class="card-body pie-button">
                    <h4 class="d-grid">
                    </h4>

                    <div class="d-flex justify-content-between mt-2">
                        <h2 class="text-start">
                            <a class="pie-link" asp-controller="pie" asp-action="details" 
                            asp-route-id="@pie.PieId" >@pie.Name</a>
                        </h2>
                        <h5 class="text-nowrap">
                            @pie.Price.ToString("c")
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    }
</div>